@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{      
    ViewData["Title"] = "Jared Bare Home";
}


<!--Main Page-->
<h1>Jared Bare</h1>

<figure>

    <img id="picMoto" src="img/jare-meg.JPG" width="250" height="350" />

    <figcaption>Motorcycle Riding with my Fiance</figcaption>

</figure>
<p>I want to get a better understanding of the fundamentals of information systems and the role of technology in a business setting from IS 413 at BYU. I want to gain knowledge on the different aspects of information systems, such as application development, data analysis, and system design. By taking this class, I hope to gain the skills needed to be successful in a career in information systems.</p>
<br />

<p>My top 3 jobs I'd like to persue are:</p>
<ul>
    <li>Cybersecurity </li>
    <li>Quality Assurance</li>
    <li>Database Management</li>
</ul>
<br />
